$home-search-height: 65px;
$home-search-width: 330px;
$padding-left: 20px;
$padding-right: 50px;

.input-wrapper {
  position: relative;

  &__text {
    pointer-events: none;
    color: gray;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 11px;
    width: $home-search-width;
    height: $home-search-height;
    padding-left: $padding-left;

    padding-top: 15px;

    display: flex;
    &__left {
      flex: 1;
    }
    &__right {
      display: flex;
      flex: 1;

      flex-direction: column; //this will allow flex-end to move item to the right
      align-items: center;
      justify-content: center;
      //go right and go middle green pin!
      &__go-right {
        align-self: flex-end;
        background-color: red;
        width: 20px;
        height: 20px;
        background: url(https://static.justpark.com/web/assets/location_pin_green.1ad32c9b2e2a6ce52385a3e19730a9f7.svg);
        background-repeat: no-repeat;
        background-size: 90%;
        margin-right: 10px;
      }
    }
  }
  & > input[type="text"] {
    width: $home-search-width;
    height: $home-search-height;
    border-style: unset;
    padding-left: $padding-left;
    padding-right: $padding-right;
    padding-top: 15px;
    border: 0.5px solid #7878ca;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    border-color: unset;
  }
}
.suggestions {
  width: $home-search-width;
  height: 300px;

  &__item {
    background-color: azure;
    padding: 10px;
    border: 0.5px solid #7878ca;
  }
}
